.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #388e3c;
  }
  
  .error {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
  }
  